html,
body {
  margin: 0;
  padding: 0;
}
.container {
  display: block;
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  overflow-x: hidden;
}
.container-topo {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 10px 0 10px 20px;
  top: 0px;
  z-index: 1;
}
.container-logo {
  padding-left: 100px;
  font-size: 25px;
  font-weight: 700;
  color: black;
}
.container-links {
  padding-right: 100px;
}
a {
  color: black;
  text-decoration: none;
}
.texto-azul {
  color: rgb(0, 195, 255);
}
.container-banner {
  background-image: url("../assets/img-fundo.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 650px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card-banner {
  width: 650px;
  height: 250px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: rgb(30, 164, 140, 0.6);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.titulo-banner {
  opacity: 100%;
}
h1 {
  font-size: 50px;
}
.paragrafo-banner {
  font-size: 25px;
}
h1,
p {
  color: #ffffff;
}
.container-quartos {
  height: 650px;
  text-align: center;
  font-weight: 700;
  padding-top: 45px;
}
.card-quartos {
  display: flex;
  margin-top: 40px;
  height: 350px;
  justify-content: space-around;
  flex-direction: row;
  gap: 20px;
}
.card-quartos a {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-quartos a:hover {
  background-color: #1ea48c;
  color: #ffffff;
  border: 1px solid #008cff9d;
  border-radius: 20px;
}
.card-solteiro,
.card-casal,
.card-familia {
  width: 400px;
  border-bottom: 8px solid #1ea48c;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
}
.paragrafo-quartos,
.paragrafo-rota,
.paragrafo-sobre {
  color: rgb(116, 116, 116);
  font-size: 15px;
}
.imagem-card {
  max-width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}
.container-rota {
  margin: 0;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
iframe {
  width: 80%;
  height: 500px;
  border-radius: 20px;
}
.container-sobre {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  height: 100vh;
  margin-bottom: 350px;
}
.card-sobre {
  margin-top: 50px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 80px;
}
.card-pousada,
.card-quartos-sobre,
.card-alimentacao,
.card-recepcao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 150px;
  width: 600px;
  gap: 30px;
}
.imagem-card-sobre {
  width: 150px;
  height: 100%;
}
.texto-pousada,
.texto-quartos,
.texto-alimentacao,
.texto-recepcao {
  text-align: left;
  color: rgb(116, 116, 116);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h5 {
  color: black;
  display: flex;
  justify-content: flex-start;
}
.paragrafo-card-sobre {
  display: flex;
  justify-content: flex-end;
  text-align: justify;
  color: rgb(116, 116, 116);
  font-size: 15px;
}
.container-rodape {
  width: 100%;
  background-color: #1ea48c;
  color: #ffffff;
  position: relative;
  min-height: 100vh;
  gap: 50px;
}
.informacoes-rodape {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 2.5rem;
}
h6 {
  width: 250px;
  font-size: 25px;
}
.endereco-rodape,
.telefone-rodape,
.calendario-rodape {
  width: 250px;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  gap: 10px;
}
.icone-rodape {
  width: 50px;
  height: 50px;
}
footer {
  text-align: center;
  font-size: 20px;
  border-top: 1px solid #ffffff;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
